@font-face {
    font-family: EnBWDINWebPro;
    src: url("font/EnBWDINWebPro.eot");
}

@font-face {
    font-family: EnBWDINWebPro;
    src: url("font/EnBWDINWebPro.woff") format("woff");
}

@font-face {
    font-family: EnBWDINWebPro;
    src: local("微軟正黑體"), local("Microsoft JhengHei");
    unicode-range: U+4E00-9FFF;
}